<style>
body {
  background-color: blue;
}
#myDIV {
  background-color: oldlace;
  width: 100%;
  height: 300px;
}

#myDIV div {
  width: 10px;
  height: 10px;
  background: orange;
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {right: 0px;}
  to {left: 500px;}
}
@keyframes myothermove {
  from {top: 0px;}
  to {top: 500px;}
}
@keyframes mylastmove {
  from {background-color: red;}
  to {background-color: blue;}
}
</style>